body{
    background-color: rgb(0, 0, 0);
}
#div1
{
    
     position:absolute;
 text-align: center;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     left: 13cm;
    background-color: rgb(255, 252, 45);
    height: 15cm;
    width: 15cm;
    top: 2.8cm;
    
}
#input
{
    height: 30px;
   
}
.div11
{
  padding: 1cm;
}
#cm
{
    height: 30px;
}
#result{
    color:black;
    margin-top:20px;
    font-size:32px;
}
